<!DOCTYPE html>
<html lang="zh">
    
    <head> 
        <meta name="viewport"
            content="width=device-width, initial-scale=1"> 
        <title> 
            Kr
        </title> 
        <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">

<style>
    .kr1{
        font-size: 100px;
    }
    .kr2{
        border-radius: 50%;
        width: 500px;
        height: 500px;
    }
    body{
        background-color: burlywood;
    }
</style>
</head> 
<body>
<p1 class = "kr1"> Kr 到此一游，我爱蟒营！</p1>
<img class ="kr2" alt="Kr" src="{{ url_for('static', filename='images/krr.jpg') }}">
</body>
</html> 