<!DOCTYPE html> 
<html> 

<head> 
	<meta name="viewport"
		content="width=device-width, initial-scale=1"> 
		<title> 
			About OPT
		</title> 
		<link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">	
	
		  <link rel="stylesheet" href="{{ url_for('static', filename='navbar2.css') }}">
		  <link rel="stylesheet" href="{{ url_for('static', filename='blur.css') }}">
</head> 

<body>

	<div class="bg-image"></div>
	
	<div class="bg-text">
	  <h2>夏天是热爱的季节~</h2>
	  <h1 style="font-size:50px">我是 ricecook</h1>
	  <p>乐观的悲观主义者</p>
	  <p>情绪稳定的兴趣多动症爱好者 :P</p>
	  <p>今年也要努力呀~</p>
	</div>
	
	</body>

</html> 
